:root {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: min(calc(100% - 32px), 600px);
  margin: 48px auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

nav {
  display: flex;
  gap: 12px;
  font-weight: 600;
  padding-bottom: 16px;
  border-bottom: 1px solid color-mix(in oklch, currentcolor, transparent);
  margin-bottom: 48px;

  a {
    text-decoration: none;

    &[data-active] {
      text-decoration: underline;
    }
  }
}

.post {
  margin-top: 32px;

  h2 {
    margin-bottom: 12px;
  }
}

h2 {
  font-size: 1.25rem;
  text-transform: capitalize;
}
